:root{
    --cor0: #3B5C61;
    --cor1: #46D1E3;
    --cor2: #87D4DE;
    --cor3: #2D5B61;
    --cor4: #68A3AB;
    --font1: Arial, Helvetica, sans-serif;
    --font2: 'Alfa Slab One', cursive;
    --font3: 'Mochiy Pop One', sans-serif;
}

header